<!DOCTYPE html> 
{% load staticfiles %} 
<html> 
    <head> 
        <title> 
            Donation Tracker 
            {% block title_block %} 
            
            {% endblock %} 
        </title> 
    </head> 
    <body> 
        <div> 
            {% block body_block %} 
            {% endblock %} 
        </div> 
        <hr />
        {% if user.is_authenticated %}
                Logged in as: {{user.get_username}} -- {{current_user_type}}
                <br>
                <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <h5>Your status: Guest</h5>
        {% endif %}
    </body> 
</html>