{% extends "Main/base.html" %}
{% load staticfiles %}

{% block title_block %}

{% endblock title_block %}

{% block body_block %}

{% if donations %}
{% for donation in donations %}
    <div>
       <h1>Donation: {{donation.short_description}}</h1>
       <li>Full description: {{donation.full_description}}</li>
        <li>Value: {{donation.value}}</li>
        <li>Category: {{donation.category}}</li>
    </div>
{% endfor %}
{% else %}
<h5>No result match your search<h5>
{% endif %}
{% endblock body_block %}   